agp_api==0.0.5
fastapi==0.115.11
langchain_core==0.3.47
langchain_openai==0.3.9
langgraph==0.3.18
pydantic==2.10.6
pydantic_settings==2.8.1
PyGithub==2.6.1
python-dotenv==1.0.1
python_json_logger==3.3.0
Requests==2.32.3
setuptools==74.1.2
starlette==0.46.1
uvicorn==0.34.0
agntcy-acp==1.1.2

